<style>
h4   {background-color: powderblue;}
</style>
<p id="notice"><%= notice %></p>

<h1>Administration</h1>

<% @articles.each do |article| %>
  <h4>
    <br>
    <h3>
      <%= article.title %>
    </h3>
    <br>
    <strong>
      <%= article.subtitle %>
    </strong>
    <br>
    <br>
    <p>
        <%= article.body %>
    </p>
  </h4>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Article', new_article_path %> |
<%= link_to 'Back', controller: 'home', action: 'index' %>
