<p id="notice"><%= notice %></p>

<p>
  <h1><%= @article.title %></h1>
</p>

<p>
  <strong><%= @article.subtitle %></strong>
</p>

<p>
  <%= @article.body %>
</p>

<h2>Comentaries</h2>

    <% @comentaries.each do |comentary| %>
      <p>
        <p><%= comentary.user %>:</p>
        <p><%= comentary.body %></p>
      </p>
    <% end %>


<h2>New comentary</h2>
<%= render 'comentaries/form', comentary: @comentary %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', controller: 'home', action: 'index' %>
