<style>
h4   {background-color: powderblue;}
</style>
<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<% @articles.each do |article| %>
<h4>
  <br>
  <h3>
    <%= article.title %>
  </h3>
  <br>
  <strong>
    <%= article.subtitle %>
  </strong>
  <br>
  <br>
  <p>
    <% if article.body.length() > 1000 %>
      <%=   truncate(article.body, :length => 1000) %>
      <br>
      <%= link_to 'see full notice and coments', article %>

    <% else%>
      <%= article.body %>
      <br>
      <%= link_to 'see coments', article %>
    <%end%>
  </p>
</h4>

<% end %>

<br>
